# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_sqlite
    database_host:     ~
    database_port:     ~
    database_name:     ~
    database_user:     rainmaker
    database_password: rainmaker
    database_path:     '%kernel.root_dir%/rainmaker.db'

    locale:            en

    # Rainmaker Download Host e.g. http://image.rainmaker-dev.com
    rainmaker_download_host: ~
